<!DOCTYPE html>
<html>
<head>
    <title>Market Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/hello.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>
<body>
    <nav><a href="/">navbar</a></nav>
    <div class="container">
        <div class="heading">
            Market Data
        </div>

        <button onclick="fetchMarketData()">Get Market Data</button>
        <div id="prediction-result">
            <ul id="data-list">
                <!-- List items will be added here dynamically -->
            </ul>
            {{ data }}
        </div>
        <canvas id="marketChart" width="400" height="200"></canvas>
    </div>
    <script>
        // Fetches the market data and displays it as a line chart
        function fetchMarketData() {
            fetch(`/get-market-data`)
                .then(response => response.json())
                .then(data => {
                    // Clear existing list items
                    const dataList = document.getElementById('data-list');
                    dataList.innerHTML = '';

                    // Add each data point to the list
                    Object.keys(data).forEach(timestamp => {
                        const date = new Date(parseInt(timestamp)).toLocaleDateString();
                        const listItem = document.createElement('li');
                        listItem.textContent = `${date}: ${JSON.stringify(data[timestamp])}`;
                        dataList.appendChild(listItem);
                    });

                    // Display data in the #prediction-result div
                    document.getElementById('prediction-result').innerHTML += JSON.stringify(data, null, 2);
                });
        }
    </script>
</body>
</html>